/* index.html */
title {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 3;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h1.maintitle {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
p {
    position: absolute;
    top: 85%;
    left: 85%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 300%;
    z-index: 3;
}
.mainbackground {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.aboutme {
    position: absolute;
    top: 85%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.isp {
    position: absolute;
    top: 70%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.classd {
    position: absolute;
    top: 55%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.extra {
    position: absolute;
    top: 40%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.importance {
    position: absolute;
    top: 25%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.fingerprints {
    position: absolute;
    top: 25%;
    right: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.ai {
    position: absolute;
    top: 40%;
    right: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.optimal {
    position: absolute;
    top: 55%;
    right: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
/* importance.html */
h1.titleimportance {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.importanceparagraph {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #FFFFFF;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 300%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
/* universal dirt background */
.dirtbackground {
    position: absolute;
    top: 0;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
/* universal back button */
.back {
    position: absolute;
    top: 85%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}

/* extra.html */
h1.extratitle {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.extraparagraph {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 300%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

/* directory.html */
h1.directorytitle {
    position: absolute;
    top: 1px;
    left: 23%;.
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.directoryparagraph {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 300%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
/* isp.css */
h1.isptitle {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.ispparagraph {
    position: absolute;
    top: 15%;
    left: 1%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h3.ispcode1 {
    position: absolute;
    top: 83%;
    left: 70%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 125%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h4.ispcode2 {
    position: absolute;
    text-align: center;
    top: 53%;
    left: 00%;
    right: 80%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 125%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
    text-align: left;
}
.code1 {
    position: absolute;
    top: 45%;
    left: 75%;
    width: 20%;
    height: 40%;
    z-index: 2;
}
.code2 {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 20%;
    height: 40%;
    z-index: 2;
}

/* aboutme.html */
h1.aboutmetitle {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.aboutmeparagraph {
    position: absolute;
    top: 25%;
    left: 5%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 300%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

/*fingerprints.html*/

h1.fingertitle {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.fingerparagraph1 {
    position: absolute;
    text-indent: 80px;
    top: 100%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h3.fingerparagraph2 {
    position: absolute;
    text-indent: 80px;
    top: 135%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h4.fingerparagraph3 {
    position: absolute;
    text-indent: 80px;
    top: 205%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px b
lack, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h5.fingerparagraph4 {
    position: absolute;
    text-indent: 80px;
    top: 240%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h6.header6 {
    position: absolute;
    top: 15%;
    left: 30%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px b
lack, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h7.header7 {
    position: absolute;
    text-indent: 80px;
    top: 35%;
    left: 40%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h8.header8 {
    position: absolute;
    text-indent: 80px;
    top: 40%;
    left: 36%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h9.header9 {
    position: absolute;
    text-indent: 80px;
    top: 45%;
    left: 37%;
    right: 25%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h10.header10 {
    position: absolute;
    text-indent: 80px;
    top: 50%;
    left: 39%;
    right: 35%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h11.header11 {
    position: absolute;
    text-indent: 80px;
    top: 55%;
    left: 39%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h15.reference4 {
    position: absolute;
    top: 425%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h17.reference6 {
    position: absolute;
    top: 440%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h13.reference2 {
    position: absolute;
    top: 455%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h12.reference1 {
    position: absolute;
    top: 470%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h16.reference5 {
    position: absolute;
    top: 485%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h14.reference3 {
    position: absolute;
    top: 500%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h18.referencetitle {
    position: absolute;
    top: 400%;
    left: 35%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 300%;
    z-index: 2;
}
.background2 {
    position: absolute;
    top: 100%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.background3 {
    position: absolute;
    top: 200%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.background4 {
    position: absolute;
    top: 300%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.background5 {
    position: absolute;
    top: 400%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.background6 {
    position: absolute;
    top: 500%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.fingerback {
    position: absolute;
    top: 585%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.flowchart {
    position: absolute;
    top: 300%;
    left: 20%;
    width: 40%;
    height: 80%;
    z-index: 2;
}

/* AI Sentience.html */

h1.aititle {
    position: absolute;
    top: 1px;
    left: 23%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.aiparagraph1 {
    position: absolute;
    text-indent: 80px;
    top: 100%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h3.aiparagraph2 {
    position: absolute;
    text-indent: 80px;
    top: 155%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h4.aiparagraph3 {
    position: absolute;
    text-indent: 80px;
    top: 225%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h5.aiparagraph4 {
    position: absolute;
    text-indent: 80px;
    top: 295%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h6.aiheader6 {
    position: absolute;
    top: 15%;
    left: 30%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px b
																														    lack, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h7.aiheader7 {
    position: absolute;
    text-indent: 80px;
    top: 35%;
    left: 40%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h8.aiheader8 {
    position: absolute;
    text-indent: 80px;
    top: 40%;
    left: 36%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h9.aiheader9 {
    position: absolute;
    text-indent: 80px;
    top: 45%;
    left: 37%;
    right: 25%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h10.aiheader10 {
    position: absolute;
    text-indent: 80px;
    top: 50%;
    left: 39%;
    right: 35%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h11.aiheader11 {
    position: absolute;
    text-indent: 80px;
    top: 55%;
    left: 39%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h15.aireference4 {
    position: absolute;
    top: 470%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h13.aireference2 {
    position: absolute;
    top: 440%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h12.aireference1 {
    position: absolute;
    top: 425%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h14.aireference3 {
    position: absolute;
    top: 455%;
    left: 5%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h18.aireferencetitle {
    position: absolute;
    top: 400%;
    left: 35%;
    right: 5%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;;
    font-size: 300%;
    z-index: 2;
}
.aibackground2 {
    position: absolute;
    top: 100%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.aibackground3 {
    position: absolute;
    top: 200%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.aibackground4 {
    position: absolute;
    top: 300%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.aibackground5 {
    position: absolute;
    top: 400%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.aibackground6 {
    position: absolute;
    top: 500%;
    Left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.aiback {
    position: absolute;
    top: 585%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
/* optimal.html */

h1.optimaltitle {
    position: absolute;
    top: 1px;
    left: 35%;
    color: #FFFFFF;
    font-family: 'Minecraft';
    font-size: 400%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
h2.optimal2{
    position: absolute;
    top: 15%;
    left: 43%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 175%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

h3.optimal3 {
    position: absolute;
    top: 23%;
    left: 43%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 175%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

h4.optimal4 {
    position: absolute;
    top: 31%;
    left: 46%;
    right: 20%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 175%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

h5.optimal5 {
    position: absolute;
    text-indent: 80px;
    top: 38%;
    left: 40%;
    right: 25%;
    color: #FFFFFF;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
    text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
.optimalchart {
    position: absolute;
    top: 70%;
    left: 23%;
    width: 50%;
    height: 190%;
    z-index: 2;
}
.optimalback {
    position: absolute;
    top: 285%;
    left: 30px;
    width: 15%;
    height: 10%;
    z-index: 2;
}
.opbackground2 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
.opbackground3 {
    position: absolute;
    top: 200%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    point-event: none;
    z-index: 1;
}
p.optimallink {
    positon: absolute;
    top: 48%;
    left: 43%;
    right: 25%;
    font-family: "Times New Roman", Times, serif;
    font-size: 200%;
    z-index: 2;
}
